# Node / build
node_modules/
dist/
.tmp/
coverage/

# Angular
storefront/.angular/
storefront/.cache/
storefront/dist/

# TS
*.tsbuildinfo

# Env (¡no subir!)
.env
.env.local
backend/.env
storefront/.env

# IDE
.vscode/
.DS_Store